/*
 * Le style de ce site est en grande partie le même que le style par défaut de
 * [bookdown](https://bookdown.org/)
 *
 * */
body {
    color: #333;
    padding: 0 0 60px 0;
    margin: 0;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.7;
    letter-spacing: 0.2px;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
    color: #4183c4;
}

a:visited {
    color: #4183c4;
}

a:hover {
    outline: 0;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 2em;
    margin-top: 1.275em;
    margin-bottom: 0.85em;
}

h2 {
    font-size: 1.75em;
}

p {
    margin-top: 0;
    margin-bottom: 0.85em;
}

#banner {
    color: #222222;
    padding: 80px 0 20px;
    margin: 0 auto;
}

.page, footer {
    margin: 0 0 0 300px;
}

.page-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 800px;
}

.footer-content {
    border-top: 1px solid #ddd;
    color: #666;
    font-size: 0.90em;
    line-height: 1.2;
    margin: 60px auto 0;
    padding: 15px 20px;
    max-width: 800px;
}

.author, .date {
    font-style: italic;
}

figcaption {
    color: #666;
    font-size: 0.8em;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0;
    line-height: 1.0;
    text-align: right;
}

figcaption > a {
    color: #444;
}

figure {
    display: block;
    text-align: center;
    margin: 10px 0;
    padding: 0;
}

.toc {
    list-style-type: none;
    padding: 0;
}

.toc > li {
    margin-bottom: 0.8em;
}

h1.title {
    border-bottom: 1px solid;
}

.chapnum {
    border-bottom: 3px solid;
    display: inline-block;
    font-weight: 500;
    padding-right: 0.2em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
    page-break-inside: avoid;
    margin: 0 auto 0.85em;
}

table caption {
    font-style: italic;
}

table th {
    font-weight: 700;
    padding: 6px 13px;
    border-top: 2px solid #777;
    border-bottom: 1px solid #888;
}

table td {
    padding: 6px 13px;
}

table tr.odd {
    background-color: #f8f8f8;
}

table tbody {
    border-bottom: 1px solid #888;
}

.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    border-right: 1px solid #d9d9d9;
    width: 300px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.9em;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 5px 15px;
}

.sidebar a {
    color: #364149;
}

.sidebar .divider {
    border-bottom: 1px solid #d9d9d9;
}

@media only screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .page {
        margin: 0;
    }

    footer {
        margin: 60px auto 10px auto;
        padding: 10px;
    }
}
