@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Quintessential);

body {
    font-family: Alegreya;
    color: #333;
    width: 830px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: Quintessential;
    color: #800000;
}

p {
    margin: 0.7rem 13px;
}

#images {
    width: 804px;
    height: 500px;
    position: relative;
    margin: 0 auto 20px;
    padding: 4px;
    border: 1px solid #ddd;
    box-shadow: 5px;
    background-color: #eee;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    font-size: 0.9rem;
}

#drawingarea {
    background-color: #000;
    height: 500px;
    width: 600px;
    position: relative;
}

#moonphase {
    position: absolute;
    top: 4px;
    right: 204px;
}

#phasename {
    position: absolute;
    top: 220px;
    right: 0px;
    width: 200px;
}

#obstime {
    position: absolute;
    top: 300px;
    right: 0px;
    width: 200px;
}

#moonpos {
    position: absolute;
    top: 380px;
    right: 0px;
    width: 200px;
}

#obstime>h4, #phasename>h4, #moonpos>h4 {
    margin: 0 0 0.3rem 0;
}

#obstime>p, #phasename>p, #moonpos>p {
    padding: 0.6rem;
    border: 1px solid #bbb;
    background-color: #fafafa;
}

#moonpos>p {
    height: 36px;
}

#hour {
    display: inline-block;
    text-align: right;
    width: 1.8em;
    padding-right: 0.6em;
}

#minute {
    display: inline-block;
    text-align: right;
    width: 1.5em;
}

#speedInfo {
    text-align: right;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

#controls {
    font-size: 0.9rem;
}

input[type="checkbox"] {
    margin-left: 1rem;
    margin-right: 0.3rem;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.customButton {  /* style a link as a push-button */
    display: inline-block; 
    width: 60px; 
    height: 24px; 
    line-height: 24px; 
    font-size: 15px; 
    font-family: sans-serif; 
    text-align: center;
    color: black; 
    background: -webkit-linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
    background: linear-gradient(white,#eeeeee,#eeeeee,#e0e0e0);
    text-decoration: none; 
    border: 1px solid gray; 
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.customButton:active {
    background: -webkit-linear-gradient(#909090,#808080,#808080,#707070);
    background: linear-gradient(#909090,#808080,#808080,#707070);
}

#instructions {
    font-size: 20px;
}

#credits {
    margin: 0 1rem;
    font-size: 0.5rem;
}
